<section id="acerca">
  <div class="container pt-3 mb-5">
    <div class="row">
        <div class="col-12 pt-5 mt-5">
            <div class="card border-primary">
                <div class="card-header">
                    <h2 class="text-center text-primary">Acerca de mi</h2>
                </div>
                <div class="row g-0">
                    <div class="col-lg-2 text-center bg-primary">
                        <img src="../../../assets/profile.jpg" class="img-fluid border border-white border-3 rounded-circle mt-3 mx-0" alt="imagén de perfil">
                    </div>
                    <div class="col-lg-10">
                        <div class="card-body bg-primary text-white">
                            <h3 class="card-title">Patricio Facundo Peralta Zagarra</h3>
                            <h4 class="card-subtitle mb-2">Full Stack Developer Junior</h4>                 
                            <p class="card-text fs-5">¡Hola! Mi nombre es Facundo. Soy <i>Traductor Público de Inglés</i> y <i>Profesor Universitario de Lengua y Cultura Inglesa</i>. En el año 2021 incursioné en el mundo de la programación a través del plan <b>Argentina Programa</b>. En la primera etapa de capacitación <b>#SeProgramar</b> adquirí fundamentos básicos de programación, principios de la programación orientada a objetos en Ruby y nociones de programación imperativa y estructura de datos en JavaScript.</p>
                            <p class="card-text fs-5">Actualmente, me encuentro cursando la segunda etapa <b>#YoProgramo</b> en donde enseñan las habilidades y herramientas necesarias para ser un <i>Programador Web Full-Stack Junior</i>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>    
</section>

<!--
    <div class="container mt-3">
    <div class="row">
        <div class="col-12 p-0">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="d-flex mb-2">
                        <img src="../../../assets/profile.jpg" alt="imagén de perfil" class="border border-dark border-3 rounded-circle">
                        <div class="ps-3">
                            <h4 class="mt-4">Patricio Facundo Peralta Zagarra</h4>
                            <h5 class="m-0">Full Stack Developer Junior</h5>
                        </div>
                    </div>
                    <div>
                        <p class="fs-5">¡Hola! Mi nombre es Facundo. Soy <i>Traductor Público de Inglés</i> y <i>Profesor Universitario de Lengua y Cultura Inglesa</i>. En el año 2021 incursioné en el mundo de la programación a través de la primera etapa de capacitación <b>#SeProgramar</b> del plan <b>Argentina Programa</b>. Este curso introductorio comprendía fundamentos básicos de programación, principios de la programación orientada a objetos en Ruby y nociones de programación imperativa y estructura de datos en JavaScript.</p>
                        <p class="fs-5">En la actualidad, estoy cursando la segunda etapa de <b>Argentina Programa</b>, <b>#YoProgramo</b> cuyo objetivo es brindar las habilidades y herramientas para ser un <i>Programador Web Full-Stack Junior</i>.</p>
                        <p>A continuación enumero algunas de las tecnologías con las que trabajo:</p>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>Typrescript</li>
                                <li>Java</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            <ul>
                                <li>Bootstrap 5</li>
                                <li>Angular CLI</li>
                                <li>MySQL</li>
                                <li>Git y Github</li>
                                <li>Spring Boot</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->