<section id="proyectos">
    <div class="container mt-5 pt-5 mb-3">
        <h2 class="text-center text-muted">Proyectos</h2>      
        <div class="row d-flex justify-content-center">

            <div class="row row-cols-1 row-cols-lg-3 g-4">
                <div class="col">
                  <div class="card border-secondary h-100">
                    <img src="../../../assets/imagen-proyecto1.png" class="card-img-top" style="width:100%" alt="imagen proyecto">
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Proyecto N1</h5>
                      <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum autem placeat, consectetur quidem nobis nihil corporis, dicta soluta deleniti reprehenderit itaque vitae! Velit, quo maiores? Delectus laborum nulla amet. Iste?</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-outline-secondary">Visitar Proyecto</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card border-secondary h-100">
                    <img src="../../../assets/imagen-proyecto1.png" class="card-img-top" style="width:100%" alt="imagen proyecto">
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Proyecto N2</h5>
                      <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum autem placeat, consectetur quidem nobis nihil corporis, dicta soluta deleniti reprehenderit itaque vitae! Velit, quo maiores? Delectus laborum nulla amet. Iste?</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-outline-secondary">Visitar Proyecto</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card border-secondary h-100">
                    <img src="../../../assets/imagen-proyecto1.png" class="card-img-top" style="width:100%" alt="imagen proyecto">
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Proyecto N3</h5>
                      <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum autem placeat, consectetur quidem nobis nihil corporis, dicta soluta deleniti reprehenderit itaque vitae! Velit, quo maiores? Delectus laborum nulla amet. Iste?</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-outline-secondary">Visitar Proyecto</a>
                    </div>
                  </div>
                </div>
              </div>

            <!--
            <div class="col-lg-5" mt-5>
                <div class="card mt-3" style="width: 25rem;">
                    <img src="../../../assets/imagen-proyecto1.png" class="card-img-top" style="width:100%" alt="imagen proyecto">
                    <div class="card-body">
                        <h5 class="card-title">Proyecto 1</h5>
                        <p class="card-text">Descripción del proyecto: página web para una veterinaria.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" mt-5>
                <div class="card mt-3" style="width: 25rem;">
                    <img src="../../../assets/imagen-proyecto1.png" class="card-img-top" style="width:100%" alt="imagen proyecto">
                    <div class="card-body">
                        <h5 class="card-title">Proyecto 2</h5>
                        <p class="card-text">Descripción del proyecto: página web para una veterinaria.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>
