<section id="proyectos">
    <div class="container mt-5 mb-5  pb-5 pt-5 ">
        <h2 class="text-center text-muted">Proyectos</h2>      
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5" mt-5>
                <div class="card mt-3" style="width: 25rem;">
                    <img src="../../../assets/imagen-proyecto1.png" class="card-img-top" style="width:100%" alt="imagen proyecto">
                    <div class="card-body">
                        <h5 class="card-title">Proyecto 1</h5>
                        <p class="card-text">Descripción del proyecto: página web para una veterinaria.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" mt-5>
                <div class="card mt-3" style="width: 25rem;">
                    <img src="../../../assets/imagen-proyecto1.png" class="card-img-top" style="width:100%" alt="imagen proyecto">
                    <div class="card-body">
                        <h5 class="card-title">Proyecto 2</h5>
                        <p class="card-text">Descripción del proyecto: página web para una veterinaria.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
