<section id="experiencia">
    <div class="container mt-2 pt-3">
        <h2 class="mt-5 mb-3 pt-5 text-center text-muted">Experiencia laboral
            <button type="button" class="btn btn-outline-secondary btn-sm ms-5" routerLink="/new/experience"
                *ngIf="isAdmin"><i class="bi bi-plus-circle"></i> Añadir</button>
        </h2>

        <div *ngFor="let experience of experiences;">
            <div class="row">

                <div
                    class="col-12 col-lg-3 bg-light bg-gradient text-center pt-2 mb-lg-2 border border-5 border-secondary">
                    <h4 class="text-secondary">{{experience.institution}}</h4>
                    <div class="cuadro pb-2"><img src="{{experience.logoExp}}" alt="" class="border border-secondary">
                    </div>
                </div>
                <div class="col-12 col-lg-9 bg-light bg-gradient mb-2 border border-5 border-secondary">
                    <h5 class="text-center mt-2">{{experience.job}}</h5>
                    <h6 class="text-center">{{experience.started}} - <span
                            *ngIf="experience.continues; else elseBlock">Actualidad</span></h6>
                    <ng-template #elseBlock>{{experience.finished}}</ng-template>
                    <p class="fs-5 text-center">{{experience.description}}</p>
                    <div class="d-flex justify-content-center mb-2">
                        <button type="button" class="btn btn-outline-dark btn-sm"
                            routerLink="/edit/experience/{{experience.id}}" *ngIf="isAdmin"><i
                                class="bi bi-pencil"></i>Editar</button>
                        <button type="button" class="btn btn-outline-danger btn-sm ms-2" (click)="delete(experience.id)"
                            *ngIf="isAdmin"><i class="bi bi-trash3"></i> Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>