<section id="experiencia">
    <div class="container-fluid mt-2 pt-3">
        
        <div class="row">
            <div class="col-12 col-md-3 bg-warning text-center pt-3 pt-md-5 mb-md-2"><h4>Traductor Público Independiente</h4>
                <div class="cuadro pb-2"><img src="../../../assets/logo colegio traductores.jpg" alt="" class="border border-dark"></div>
            </div>
            <div class="col-12 col-md-9 bg-warning mb-2">
                <h5 class="text-center mt-2">Traductor matriculado en el Colegio de Traductores Públicos e Intérpretes de San Juan</h5>
                <h6 class="text-center">Mayo 2013 - Actualidad</h6>
                <p class="fs-5">Traducciones del inglés al castellano y del castellano al inglés de documentos legales de distintas índoles como partidas de nacimiento, títulos universitarios, análiticos académicos, libretas sanitarias, partidas de matrimonio, etc. que requieran ser presentadas ante reparticiones, entidades u organismos públicos.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-md-3 bg-success text-center pt-3 pt-md-5 mb-md-2"><h4>Escuela Agrotécnica Ejército Argentina</h4>
                <div class="cuadro pb-2"><img src="../../../assets/logo agro.png" alt="" class="border border-dark"></div>
            </div>
            <div class="col-12 col-md-9 bg-success mb-2">
                <h5 class="text-center mt-2">Profesor de Inglés - Nivel Secundario</h5>
                <h6 class="text-center">Junio 2017 - Actualidad</h6>
                <p class="fs-5">Docente a cargo de la materia de Lengua Extranjera Inglés en primero, segundo y tercer año de secundario.</p>
                <p class="fs-5">Docente a cargo de la materia de Inglés Técnico en cuarto, quinto y sexto año de secundario con orientación agropecuaria.</p>
            </div>
        </div>
 
        <div class="row">
            <div class="col-12 col-md-3 bg-info text-center pt-3 pt-md-5 mb-md-2 pb-md-3"><h4>Instituto Superior Técnico de Valle Fértil</h4>
                <div class="cuadro pb-2"><img src="../../../assets/logo istvf.jpg" alt="" class="border border-dark"></div>
            </div>
            <div class="col-12 col-md-9 bg-info mb-2">
                <h5 class="text-center mt-2">Profesor de Inglés - Nivel Terciario</h5>
                <h6 class="text-center">Junio 2018 - Actualidad</h6>
                <p class="fs-5">Docente a cargo de la materia Inglés Técnico en la Tecnicatura en Gestión de la Producción Agropecuaria y Agroindustrial.</p>
            </div>
        </div>

    </div>
</section>
    