<app-navbar-offcanvas></app-navbar-offcanvas>

<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h4>Ya has iniciado sesión</h4>
  <a class="btn btn-outline-success m-2" routerLink="/portfolio" role="button">Entrar <i class="bi bi-door-open"></i></a>
  <app-banner></app-banner>
</div>



<ng-template #loggedOut>
  <div class="container">
  <h2 class="m-5 text-center">Iniciar Sesión</h2>
  <div class="text-center">
    <p>Para visualizar el portfolio, ingrese como nombre de usuario: <i><b>user</b></i> y como contraseña: <i><b>user</b></i> </p>
  </div>
  <div class="d-flex justify-content-center">
  <form  #f="ngForm" [formGroup]="form" class="m-5 w-25" (ngSubmit)="onLogin()" novalidate>
    <div class="mb-3">
      <label for="userName" class="form-label">Nombre de Usuario</label>
      <input type="text" formControlName="userName" 
      [ngClass]="{'is-invalid': UserName?.errors && UserName?.touched, 'is-valid': !UserName?.errors && UserName?.touched}"
      class="form-control" id="userName" [(ngModel)]="userName">
      <div *ngIf="UserName?.errors && UserName?.touched">
        <p *ngIf="UserName?.hasError('required')" class="text-danger">
          Nombre de usuario requerido
        </p>
        <p *ngIf="UserName?.errors?.['minlength']" class="text-danger">
          La longitud del nombre de usuario debe ser mayor a 3
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" formControlName="password" 
      [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
      class="form-control" id="password" [(ngModel)]="password">
      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">
          Contraseña es requerida
        </p>
        <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
          La longitud de la contraseña debe ser mayor a 3
        </p>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-success" [disabled]="!f.valid">Iniciar Sesión</button>
    </div>
  </form>
</div>
</div>
</ng-template>
<!-- 
<h2 class="m-5">Iniciar Sesión</h2>
<form [formGroup]="form" class="m-5" (ngSubmit)="onSubmit($event)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" formControlName="email" [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email?.hasError('required')" class="text-danger">
        El email es requerido
        </p>
        <p *ngIf="Email?.hasError('email')" class="text-danger">
          El formato del email debe ser válido
          </p>
      </div>

    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" formControlName="password" [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}" class="form-control" id="exampleInputPassword1">
      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">
        La contraseña es requerida
        </p>
        <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
          El formato del email debe ser válido
          </p>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
   -->