<div class="container" *ngIf="user">
    <h2 class="text-center mt-5">Editar Perfil</h2>
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group mt-2">
                    <label for="firstName">Nombre</label>
                    <input type="text" class="form-control" id="firstName" name="firstName"
                    [(ngModel)]="user.firstName" required>
                </div>
                <div class="form-group mt-2">
                    <label for="lastName">Apellido</label>
                    <input type="text" class="form-control" id="lastName" name="lastName"
                    [(ngModel)]="user.lastName" required>
                </div>
                <div class="form-group mt-2">
                    <label for="birthDate">Año de Egreso</label>
                    <input type="date" class="form-control" id="birthDate" name="birthDate"
                    [(ngModel)]="user.birthDate" required>
                </div>
                <div class="form-group mt-2">
                    <label for="place">Lugar de Residencia</label>
                    <input type="text" class="form-control" id="place" name="place"
                    [(ngModel)]="user.place" required>
                </div>
                <div class="form-group mt-2">
                    <label for="occupation">Lugar de Residencia</label>
                    <input type="text" class="form-control" id="occupation" name="occupation"
                    [(ngModel)]="user.occupation" required>
                </div>
                <div class="form-group mt-2">
                    <label for="profileImage">Logo de la Institución</label>
                    <input type="text" class="form-control" id="profileImage" name="profileImage" placeholder="ingrese enlace de la imagen de perfil"
                    [(ngModel)]="user.profileImage" required>
                </div>
                <div class="form-group mt-2">
                    <label for="about">Descripción</label>
                    <input type="text" class="form-control" id="about" name="about"
                    [(ngModel)]="user.about" required>
                </div>
                <button class="btn btn-outline-success btn-sm m-1" [disabled]="!f.valid">Actualizar</button>
            </form>
            <button type="button" class="btn btn-outline-secondary btn-sm m-1" routerLink="/portfolio">Volver</button>
        </div>
    </div>
</div>