<section id="educación">
    <div class="container mt-2 pt-3 mb-5">  
        <h2 class="mt-5 mb-3 pt-5 text-center text-muted">Educación</h2>      
        <div class="row">
          
            <div class="list-group">
             
                <li class="list-group-item list-group-item-warning mt-2 mb-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">Traductor Público de Inglés</h4>
                        <small class="text-muted">Fecha de egreso: Feb 2013</small>
                    </div>
                    <p class="mb-1">Universidad del Aconcagua - Escuela Superior de Lenguas Extranjeras</p>
                    <small class="text-muted">Mendoza, Argentina</small>
                </li>


                <li class="list-group-item list-group-item-success mt-2 mb-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">Profesor Universitario de Lengua y Cultura Inglesa</h4>
                        <small class="text-muted">Fecha de egreso: May 2017</small>
                    </div>
                    <p class="mb-1">Universidad del Aconcagua - Escuela Superior de Lenguas Extranjeras</p>
                    <small class="text-muted">Mendoza, Argentina</small>
                </li>

                <li class="list-group-item list-group-item-info mt-2 mb-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1"> Primera Etapa de Argentina Programa - #SeProgramar</h4>
                        <small class="text-muted">Diciembre 2021</small>
                    </div>
                    <p class="mb-1">Ministerio de Desarrollo Productivo</p>
                    <small class="text-muted">Argentina</small>
                </li>
            </div>
        </div>    
    </div>
</section>

