<section id="experiencia">
    <div class="container mt-2 pt-3">        
        <div class="row">
          
            <div class="list-group">
             
                <li href="#" class="list-group-item list-group-item-action list-group-item-warning mt-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Universidad del Aconcagua - Escuela Superior de Lenguas Extranjeras</h5>
                        <small class="text-muted">Mendoza, Argentina</small>
                    </div>
                    <p class="mb-1">Traductor Público de Inglés</p>
                    <small class="text-muted">Fecha de egreso: Feb 2013</small>
                </li>


                <li href="#" class="list-group-item list-group-item-action list-group-item-success mt-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Universidad del Aconcagua - Escuela Superior de Lenguas Extranjeras</h5>
                        <small class="text-muted">Mendoza, Argentina</small>
                    </div>
                    <p class="mb-1">Profesor Universitario de Lengua y Cultura Inglesa</p>
                    <small class="text-muted">Fecha de egreso: May 2017</small>
                </li>

                <li href="#" class="list-group-item list-group-item-action list-group-item-info mt-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Ministerio de Desarrollo Productivo</h5>
                        <small class="text-muted">Argentina</small>
                    </div>
                    <p class="mb-1">Primera Etapa de Argentina Programa: #SeProgramar</p>
                    <small class="text-muted">Fecha: Diciembre 2021</small>
                </li>
            </div>
        </div>    
    </div>
</section>

