<section id="education">

    <div class="container mt-2 pt-3 mb-5">
        <h2 class="mt-5 mb-3 pt-5 text-center text-muted">Educación
            <button type="button" class="btn btn-outline-secondary btn-sm ms-5" routerLink="/new/education" *ngIf="isAdmin"><i class="bi bi-plus-circle"></i> Añadir</button>
        </h2>

        <div *ngFor="let education of educations, let i = index" class="row">
            <div class="list-group">

                <li class="list-group-item list-group-item-warning mt-2 mb-2" *ngIf="array1.includes(i)">
                    <!-- <li class="list-group-item list-group-item-warning mt-2 mb-2" *ngIf="i == 0 || i == 3 || i == 6 || i == 9"> -->
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">{{education.degree}}</h4>
                        <small class="text-muted"><span *ngIf="education.finished; else elseBlock">Año de egreso:
                                {{education.year}}</span></small>
                        <ng-template #elseBlock>Continua</ng-template>
                    </div>
                    <p class="mb-1">{{education.institution}}</p>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-dark btn-sm" routerLink="/edit/education/{{education.id}}"
                            *ngIf="isAdmin"><i class="bi bi-pencil"></i> Editar</button>
                        <button class="btn btn-outline-danger btn-sm ms-2" (click)="delete(education.id)"
                            *ngIf="isAdmin"><i class="bi bi-trash3"></i> Eliminar</button>
                    </div>
                </li>

                <li class="list-group-item list-group-item-success mt-2 mb-2" *ngIf="array2.includes(i)">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">{{education.degree}}</h4>
                        <small class="text-muted"><span *ngIf="education.finished; else elseBlock">Año de egreso:
                                {{education.year}}</span></small>
                        <ng-template #elseBlock>Continua</ng-template>
                    </div>
                    <p class="mb-1">{{education.institution}}</p>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-dark btn-sm" routerLink="/edit/education/{{education.id}}"
                            *ngIf="isAdmin"><i class="bi bi-pencil"></i> Editar</button>
                        <button class="btn btn-outline-danger btn-sm ms-2" (click)="delete(education.id)"
                            *ngIf="isAdmin"><i class="bi bi-trash3"></i> Eliminar</button>
                    </div>
                </li>

                <li class="list-group-item list-group-item-info mt-2 mb-2" *ngIf="array3.includes(i)">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">{{education.degree}}</h4>
                        <small class="text-muted"><span *ngIf="education.finished; else elseBlock">Año de egreso:
                                {{education.year}}</span></small>
                        <ng-template #elseBlock>Continua</ng-template>
                    </div>
                    <p class="mb-1">{{education.institution}}</p>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-dark btn-sm" routerLink="/edit/education/{{education.id}}"
                            *ngIf="isAdmin"><i class="bi bi-pencil"></i> Editar</button>
                        <button class="btn btn-outline-danger btn-sm ms-2" (click)="delete(education.id)"
                            *ngIf="isAdmin"><i class="bi bi-trash3"></i> Eliminar</button>
                    </div>
                </li>

            </div>
        </div>
    </div>
</section>